# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files and folders
*.csv
*.png
*.tif
*.tfw
*.npy
*.zip

# Pytorch Lightning checkpoints
lightning_logs/
tb_logs/
*.ckpt

# QGIS project and vector files
*.geojson
*.qgz
